# Имя файла .gitignore
# Файл нужно создать самостоятельно
# В этом файле можно оставлять комментарии как в Python
# Каждая строчка — это шаблон, по которому происходит игнорирование
# Игнорируем файл в любой директории проекта
access.log 
# Игнорируем директорию в любой директории проекта
venv/
# Игнорируем каталог в корне рабочей директории
/config/
# Игнорируем все файлы с расширением sqlite3 в директории db
# При этом не игнорируются такие же файлы внутри любого вложенного каталога в db
# Например, /data/anything/db.sqlite3
/db/*.sqlite3
# Про них подробнее можно узнать из модуля про SQL 
# Игнорируем все .txt файлы в каталоге doc/ на всех уровнях вложенности
doc/**/*.txt
